* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.oklama {
    background-image: url(https://wallpaperaccess.com/full/49518.png);
    height: 100vh;
    /* background-repeat: no-repeat; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-direction: column;
}

h1 {
    color: rgb(8, 8, 8);
    letter-spacing: 8px;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
}

.coming-soon {
    margin: 4em;
}

label {
    font-family: 'Playfair Display', serif;
    margin: 2em;
}

input[type = email] {
    border-radius: 8px;
    width: 200px;
    color: white;
    padding: 4px;
    background-color:rgba(116, 116, 116, 0.377) ;
}

input[type = email]:active {
   border-color: yellowgreen;
}

.btn {
    margin: 2em;
    padding: 3px;
    border: none;
    background: rgba(150, 150, 150, 0.3);
    position: relative;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;

}

.btn:hover {
    background-color: rgb(163, 163, 163);
    border-radius: 8px;
}